{
  "host": "localhost",
  "devURL": "http://localhost:5000",
  "env": "production",
  "dbURL": "mongodb://alessandro:Ale8193@ds111410.mlab.com:11410/le_corone",
  "sessionSecret": "qwertyuiop123456789",
  "sessionName": "clientManager.sess",
  "googleApiKey": "AIzaSyCErZMYl7fJqmR7x-SJgQG01713eRUk07U"
}